[submodule "Assignments/Assignment-1/Bates-ex04"]
	path = Assignments/Assignment-1/Bates-ex04
	url = https://github.com/jennarbates/Bates-ex04.git
[submodule "Assignments/Assignment-1/Bates-ex02"]
	path = Assignments/Assignment-1/Bates-ex02
	url = https://github.com/jennarbates/Bates-ex02.git
[submodule "Assignments/Assignment-1/Bates-ex05"]
	path = Assignments/Assignment-1/Bates-ex05
	url = https://github.com/jennarbates/Bates-ex05.git
